body {
  background-color: #f38181;
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

p {
  color: #ef4b4b;
  font-size: 1.2rem;
}

/* Sections */
.pink-section {
  background-color: #f38181;
}

.orange-section {
  background-color: #fce38a;
}

.green-section {
  background-color: #eaffd0;
}
/* Navigation Bar */
.navbar {
  padding: 0 2% 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title*/
#title {
  text-align: left;
}
.title-image {
  margin-left: 20%;
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.medium-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding: 0 20%;
}

.small-heading {
  font-size: 2rem;
}

/* Makes the responsiveness of the website more pleasing to the user */
.container-fluid {
  padding: 3% 15% 7%;
}

/* Features */
#features {
  padding: 4% 5% 0;
  position: relative;
}

.feature-box {
  padding: 7%;
}

.feature-circle {
  font-size: 4.5rem;
  margin: 0 0 10% 0;
  color: #f38181;
}

.feature-circle:hover {
  color: #ef4b4b;
}

/* Testimonials */

#testimonials {
  color: #f38181;
}

.carousel-item {
  padding: 5% 5%;
}

/* Change carousel icon colors */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23504658' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23504658' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

/* Press */
#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
#cta {
  font-weight: 900;
  padding: 7% 25% 3%;
}

.cta-text {
  font-size: 3.5rem;
  margin: 0 0 3%;
}

/* Footer */
#footer {
  background-color: #fff;
  justify-content: center;
  padding: 5% 15% 2%;
  text-align: center;
}

.footer-icon {
  font-size: 2.0rem;
  margin: 0 1% 3%;
  color: #f38181;
}

.footer-icon:hover {
  color: white;
  background-color: #f38181;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
